///HERO SECTION

.main-app.home-page-app {
  padding-top: 0;
}

.hero-section-home {
  position: relative;
  // margin-top:60px;
  width: 100%; // height: 100vh;
  // transition: background 1s;
  height: 100vh;
  @include breakpoint(640px down) {
    // background: $yellow;
    padding-top: 60px;
    max-height: 60vh;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .hero-section-home {
    display: none;
  }
  /* IE10+ CSS styles go here */
}

.hero-section-home.dark-mode {
  // background: black;
}

.home-page-animation-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  @include breakpoint(1480px down) {
    max-width: 360px;
  }
  @include breakpoint(1100px down) {
    max-width: 340px;
  }
  @include breakpoint(860px down) {
    max-width: 40vw;
  }
  @include breakpoint(1740px up) {
    max-width: 500px;
  }
  // @include breakpoint(750px down) {
  // max-width: 320px;
  //  }
  // @include breakpoint(650px down) {
  // width:70%;
  // max-width: 260px;
  // // padding-left: 20px;
  // // padding-right: 20px;
  // }
  // @include breakpoint(500px down) {
  // width:70%;
  // max-width: 200px;
  // // padding-left: 20px;
  // // padding-right: 20px;
  // }
  // @include breakpoint(400px down) {
  //   width:70%;
  //   max-width: 180px;
  // }
  // @include breakpoint(350px down) {
  //   width:70%;
  //   max-width: 160px;
  // }
}

.hero-01 {
  position: relative;
  margin: auto; // padding: 3rem;
  // transition: 1s;
  @include breakpoint(650px down) {
    // display:none;
  }
}
@media screen and (min-aspect-ratio: 16/10) and (max-height: 600px) {
  .hero-01 {
    display: none;
  }

  .hero-section-home {
    background: black;
    padding-top: 60px;
  }
}

.hero-01.opacity {
  opacity: 0;
}

.hero-01 svg {
  width: 100%;
  transition: transform 1s;
}

.hero-01.grow svg {
  transform: scale(1.3);
}

.text-swap-container {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
  @include breakpoint(650px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
  }
  @include breakpoint(650px down) {
    overflow: hidden;
  }
}

.text-swap-container h1 {
  text-transform: uppercase;
  background: $yellow;
  font-size: 6vw;
  white-space: nowrap;
  margin-bottom: 0;
  padding: 0.5rem 1rem;
  @include breakpoint(860px up) {
    font-size: 50px;
  }
  @include breakpoint(1100px up) {
    font-size: 60px;
  }
  @include breakpoint(1480px up) {
    font-size: 70px;
  }
  @include breakpoint(1740px up) {
    font-size: 90px;
  }
  @include breakpoint(1200px down) {
    // font-size: 80px;
  }
  @include breakpoint(medium down) {
    // font-size: 70px;
  }
  @include breakpoint(850px down) {
    // font-size: 60px;
  }
  @include breakpoint(750px down) {
    // font-size: 50px;
  }
  @include breakpoint(650px down) {
    // font-size: 40px;
    // white-space: normal;
    // background: none;
    // text-align: center;
    // overflow-wrap: break-word;
    padding: 0.5rem;
    max-width: 100%;
  }
  @include breakpoint(500px down) {
    // font-size: 34px;
    text-align: center;
  }
  @include breakpoint(400px down) {
    // font-size: 28px;
    text-align: center;
  }
  @include breakpoint(350px down) {
    // font-size: 26px;
    text-align: center;
  }
}

.text-swap-container h1 span {
  overflow-wrap: break-word;
}

.dud {
  overflow-wrap: break-word;
}
// @media screen and (max-height: 600px) and (orientation: landscape) {
//   .home-page-animation-container {
//     max-width: 260px;
//     padding-top: 60px
//   }
// }
// @media screen and (max-height: 500px) and (orientation: landscape) {
//   .home-page-animation-container {
//     max-width: 200px;
//   }
// }
// .icon-scroll,
// .icon-scroll:before {
//   position: absolute;
//   left: 50%;
// }
// .icon-scroll {
//   width: 34px;
//   height: 70px;
//   margin-left: -20px;
//   bottom:3rem;
//   margin-top: -35px;
//   box-shadow: inset 0 0 0 2px #dadada;
//   border-radius: 25px;
// }

.scroller {
  padding-top: 60px;
  position: absolute;
  bottom: 3rem;
  transition: opacity 0.5s;
}
@media only screen and (max-height: 800px) {
  .scroller {
    bottom: 1.5rem;
  }
}
@media only screen and (max-height: 650px) {
  .scroller {
    display: none;
  }
}
@media only screen and (max-width: 650px) {
  .scroller {
    display: none;
  }
}

.scroller span {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 2px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
  // animation: scroller-opa 1.5s infinite;
  transition: border 0.5s;
}

.scroller:hover span {
  border: 2px solid #b0b0b0;
  opacity: 1 !important;
}

.scroller span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 15px;
  margin: -12px 0 0 -8px;
  border-left: 2px solid #dedede;
  border-bottom: 2px solid #dedede;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
  transition: border 0.5s;
  // animation: sdb05 1.5s infinite;
}

.scroller:hover span::after {
  border-left: 2px solid #b0b0b0;
  border-bottom: 2px solid #b0b0b0;
  opacity: 1 !important;
}

.not--on-top .scroller {
  opacity: 0;
}

.scroller-animate span {
  animation: scroller-opa 2s infinite;
  border: 2px solid transparent;
}

.scroller-animate span::after {
  animation: sdb05 2s infinite;
  border-left: 2px solid #b0b0b0;
  border-bottom: 2px solid #b0b0b0;
}
@keyframes scroller-opa {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  50% {
    transform: translate(0, 5px);
  }

  100% {
    transform: translate(0, 0);
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0px, 0px);
  }

  50% {
    transform: rotate(-45deg) translate(-2px, 2px);
  }

  100% {
    transform: rotate(-45deg) translate(0px, 0px);
  }
}

.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #dadada;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}
@keyframes scroll {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}
/// MANIFEST Section
.top-liner {
  padding: 8rem 0;
  border-top: solid 1px $dark-grey;
  @include breakpoint(medium down) {
    padding: 6rem 0;
  }
  @include breakpoint(small down) {
    padding: 4rem 0;
  }
}

.h-m-cell {
  max-width: 800px;
  margin: auto;
  text-align: center;
  @include breakpoint(medium down) {
    max-width: 600px;
  }
}

.h-m-cell h3 {
  text-transform: none;
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.6;
  font-family: $body-font-family;
  margin: 0;
  @include breakpoint(small down) {
    font-size: 18px;
  }
}

.h-m-image {
  margin: auto auto 6rem;
  max-width: 1000px;
}

.content-full-image--home {
padding-top: 2rem;
@include breakpoint(medium down) {

    }
@include breakpoint(small down) {

    }
}

.home-logo-wrapper-header {
text-align: center;
}

//MEDIUM feed
.medium-loader {
  background: $yellow;
  text-align: center;
  position: absolute;
  bottom: -2rem;
  width: auto;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.medium-loader h3 {
  margin: 0;
  padding: 1rem;
  animation: blink 1.5s infinite;
}
@keyframes blink {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.1;
  }
}

.home-news .top-liner {
  position: relative;
}

.section-header {
  text-align: center;
  width: 100%;
}

.medium-fetch-grid {
  min-height: 500px;
  margin-left: -0.4rem;
  margin-right: -0.4rem;
  transition: opacity 1s;
}

.medium-fetch-grid.medium-loading {
  opacity: 0;
}

.medium-embed-image {
  position: relative;
  height: 0;
  margin-bottom: 1rem;
  padding-bottom: 75%;
  overflow: hidden;
}

.medium-embed-image img {
  transition: transform 0.5s;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.medium-embed-link:hover .medium-embed-image img {
  transform: scale(1.05);
}

.medium-fetch-cell {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  margin-bottom: 2rem;
  cursor: pointer;
  @include breakpoint(medium down) {
    margin-bottom: 2rem;
  }
  @include breakpoint(small down) {
    margin-bottom: 1rem;
  }
}

.medium-fetch-cell:last-of-type,
.medium-fetch-cell:nth-last-of-type(2) {
  @include breakpoint(medium only) {
    display: none;
  }
}
// .medium-fetch-cell:nth-of-type(1) {
//
//   padding-left: 0;
// }
// .medium-fetch-cell:nth-of-type(5) {
//
//   padding-left: 0;
// }
//
// .medium-fetch-cell:nth-of-type(4n+0) {
//
//   padding-right: 0;
// }

.medium-link {
  margin-top: 2rem;
}

.m-tittle {
  color: black;
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 1rem;
  @include breakpoint(small down) {
    font-size: 1rem;
  }
}

.m-date {
  color: black;
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
  background: $yellow;
  padding: 0.2rem;
}

.medium-embed-link:hover .m-tittle {
  text-decoration: underline;
}
//NEWS LETTER
.home-newsletter {
  padding-top: 10rem; // padding-bottom: 8rem;
  @include breakpoint(medium down) {
    // padding-bottom: 6rem;
    padding-top: 6rem;
  }
  @include breakpoint(small down) {
    padding-top: 4rem;
    // padding-bottom: 4rem;
  }
}

.newsletter-box {
  background: $grey;
  @include breakpoint(medium down) {
    max-width: 600px;
    margin: 0 auto;
  }
}

.newsletter-header {
  background: black;
  display: block;
  width: 100%;
  color: white;
  padding: 1rem 3rem;
}

.newsletter-header h3 {
  margin: 0;
}

.newsletter-content {
  padding: 3rem;
  flex: 1;
  width: 50%; // max-width: 550px;
  // max-width: 660px;
}

.newsletter-image {
  flex: 1;
  padding: 3rem;
  display: flex;
}

.newsletter-image-inner {
  flex: 1;
  max-width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.newsletter-content form {
  max-width: 440px;
}

.newletter-manifest {
  margin-bottom: 2rem;
}

.newsletter-content p {}

.medium-link {
  text-align: center;
}

.newsletter-content select,
.nl-input {
  border: 1px solid transparent;
  box-shadow: none;
  outline: none;
  background-color: white;
}

.newsletter-content input::placeholder {
  color: #5e5e5e;
}

.newsletter-content select:hover,
.nl-input:hover {
  outline: none;
  border: 1px solid $dark-grey;
  background-color: white;
  box-shadow: none;
  transition: box-shadow 0s, border-color 0.35s ease-in-out;
}

.nl-input:focus {
  outline: none;
  border: 1px solid black;
  background-color: white;
  box-shadow: none;
  transition: box-shadow 0s, border-color 0.35s ease-in-out;
}

.nl-input {
  margin-bottom: 0.5rem;
}

.nl-submit {
  outline: none !important;
  box-shadow: none;
  border: none;
  margin-top: 1rem;
  display: block !important;
  @include breakpoint(small down) {
    display: block !important;
    margin-top: 1rem;
  }
}
// .mc4wp-response {
// min-height: 80px;
//     margin-top: 2rem;
// }

.mc4wp-alert {
  background: $yellow;
  padding: 1.5rem;
}

.mc4wp-response p {
  margin-bottom: 0;
}

.newsletter-content label {
  display: inline-block;
  @include breakpoint(small down) {
    display: block;
  }
}

.newsletter-content .newsletter-select {
  display: inline-block;
  width: 50%;
  margin-left: 0.5rem;
  @include breakpoint(small down) {
    width: 100%;
    margin: 0;
  }
}

.newsletter-side-image-container {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include breakpoint(medium down) {
    display: none;
  }
}

.newsletter-image {
  position: relative;
}

.newsletter-background {
  padding: 8rem 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include breakpoint(medium down) {
    padding: 6rem 2rem;
  }
  @include breakpoint(small down) {
    padding: 4rem 2rem;
  }
}

.newsletter-block {
  color: white;
  background: black;
  padding: 3rem 4rem;
  text-align: center;
  @include breakpoint(large) {
    width: auto;
    flex: 0 0 auto;
  }
  @include breakpoint(medium down) {
    width: auto;
    margin: 0 1.875rem;
    max-width: 600px;
  }
  @include breakpoint(small down) {
    padding: 2rem;
    margin: 0 1.25rem;
  }
}

.newsletter-block h3 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  @include breakpoint(medium down) {
    font-size: 2.6rem;
  }
  @include breakpoint(small down) {
    font-size: 2rem;
  }
  @include breakpoint(330px down) {
    font-size: 1.6rem;
  }
}

.newsletter-block p {
  font-size: 1.125rem;
  margin-bottom: 3rem;
  @include breakpoint(small down) {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
}

.newsletter-block a {
  margin: 0 0 1rem;
}

.newsletter-block a:hover {
  text-decoration: underline;
}

.emblem {
  position: absolute;
  left: 0;
  right: 0;
  top: 25vh;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  font-weight: bold;
  color: #003A6F;
  animation: spinZ 20s linear infinite;
  text-align: center;
}

.emblem span {
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-transform: uppercase;
  font-size: 16px;
  transition: all 0.5s cubic-bezier(0,0,0,1);
}
@keyframes spinZ {
  0% {
    transform: rotateZ(360deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}

.manifest--fix {
  padding-bottom: 0;
}

.home-logo-container {
text-align: center;
  margin-bottom: 6rem;
  @include breakpoint(medium down) {
    margin-bottom: 4rem;
    }
@include breakpoint(small down) {
  margin-bottom: 3rem;
    }
}

.home-logo-container a, .home-logo-wrapper a {
margin-top: 3rem;
@include breakpoint(medium down) {
    margin-top: 2rem;
      }
@include breakpoint(small down) {
  margin-top: 1rem;
    }
}


.home-logo-wrapper {
  display: block;
  margin: auto;
  width: 100%;
  text-align: center;
  position: relative;
  padding: 0;

  max-width: 1000px;
  @include breakpoint(1100px down) {
  max-width: 800px;
  }
  @include breakpoint(medium down) {

    }
@include breakpoint(small down) {

    }
}



.logo-rows {}

.logo-item {}

.logo-rows {
  left: 0;
  width: 100%;

  position: absolute;
  transition: all 0.3s ease-in;
  top: 0;
}

.logo-rows:first-child {
  position: relative;
}

.logo-rows .cell {
  padding: 0;
  width: 20%;
  max-width: 260px;
  @include breakpoint(1200px down) {
    width: 20%;
  }
  @include breakpoint(small down) {
    width: 30%;
  }
}

.logo-rows img {
  transition: all 0.5s ease-in;
}

.logo-delay {
  transition-delay: 0.5s;
}

.logo-delay img {
  transition-delay: 0.7s;
}

.logo-rows + .logo-rows {
  opacity: 0;
}



///video

.content-full-video-aspect-container {
position: relative;
padding-top: 56.25%;
// padding-top: 43.75%;

overflow: hidden;
background: $grey;
height: 0;
    @include breakpoint(small down) {

margin-bottom: 4rem;
     }
     @include breakpoint(medium) {

  margin-bottom: 6rem;
      }
     @include breakpoint(large) {
 margin-bottom: 8rem;

    }
}

.content-full-video {
position: absolute;
top: 0;
left: 0;
right: 0;
}

.content-full-video video {
width: 100%;
height: auto;
}
