//TEXT AND UTILITY

html {
-webkit-tap-highlight-color: transparent;
overflow-y: scroll;
}

img {
width:100%;
}

body {
font-family: "Highway Gothic Wide";

      color: $c--main-text;
}

a {
  color: $c--main-text;
}

a:hover, a:focus {
    color: $c--main-text;
}

#nalle-body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

overflow: hidden;



margin-left: auto;
margin-right: auto;
}

.main-app {

  flex-grow: 1;
flex-shrink: 1;
flex-basis: auto;
// padding: 60px;
//   padding-top: 60px;
  // animation: 0.5s cubic-bezier(0.25, 0.1, 0.25, 1) 0s 1 slideInFromBottom;
  @include breakpoint(medium down) {


  }

}

.container-eq, {
  margin-left: auto;
  margin-right: auto;
  @include base-padding;

}


.pjax-container {
position: relative
}





h1, h2, h3, h4, h5 {
margin: 0;


}

h1, h2 {

font-family: "ohno-blazeface", sans-serif;
font-weight: 300;
font-style: normal;

}



p {
  font-family: "Favorit";
  line-height: 1.4;
  @include breakpoint(700px down) {
  font-size: 14px;
  }
}



a:hover {
text-decoration: underline;
}
a:focus {
text-decoration: none;
}

a:hover, a:focus {
    color: black;
}

h1 {
margin-bottom: 2rem;
text-transform: uppercase;
@include breakpoint(1200px down) {
font-size: 2.2rem;
}
@include breakpoint(small down) {
font-size: 1.8rem;
margin-bottom: 1rem;
}
}

h2 {

text-transform: uppercase;
@include breakpoint(1200px down) {
font-size: 1.6rem;
}
@include breakpoint(small down) {
font-size: 1.2rem;

}
}



h3 {
font-size: 1.3rem;
text-transform: uppercase;
line-height: 1.6;
@include breakpoint(1200px down) {
font-size: 1.1rem;
}
@include breakpoint(small down) {
font-size: 1rem;
}
}







/////TEL LINK ADDED////



a[href^="tel"] {
  color: inherit;
  text-decoration: none;

}

a[href^="tel"]:hover {
text-decoration: underline;

}






/////NALLE SHIIIT



// BG_COLORS

:root {
  background-color: var(--main-bg-color);
}



:root .page-template-home {
--main-bg-color: #d5dbc3;
}


:root .page-template-commercials {
--main-bg-color: #dde0d5;
}

:root .page-template-shortfilms {
--main-bg-color: #e0ddca;
}

:root .page-template-about {
--main-bg-color: #ede7dd;
}

:root .page-template-contact {
--main-bg-color: #e8decd;
}

:root .page-template-home.mobile-menu--active {
--main-bg-color: #bcc2a8 !important;
}
:root .page-template-commercials.mobile-menu--active {
--main-bg-color: #d0d5c5 !important;
}
:root .page-template-shortfilms.mobile-menu--active {
--main-bg-color: #d1cdb7 !important;
}
:root .page-template-about.mobile-menu--active {
--main-bg-color: #e1dacf !important;
}
:root .page-template-contact.mobile-menu--active {
--main-bg-color:#ddd2c0 !important;
}



:root .single {
--main-bg-color: #d5dbc3;
}













.page-top-header {
margin-top: 180px;
max-width: $base-width;
text-align: center;
@include breakpoint(750px down) {

margin-top: 130px;
}
h1 {
display: inline-block;
margin: 0;
font-size: 70px;
    line-height: 1;
    @include breakpoint(1100px down) {
    font-size: 62px;

    }
    @include breakpoint(750px down) {
    font-size: 9vw;

    }
}
}




/////////HOMEPAGE/////


.section--nalle-hero {
max-width: $base-width;
@include base-padding;
margin: auto;
padding-top: $header-height - 10px !important;
padding-bottom: $header-height - 10px !important;

position: relative;
width: 100%;
height: 100vh;


@include breakpoint(1200px up) {
min-height: 800px;
}



@include breakpoint(750px down) {
height: auto;
padding-bottom: 120px !important;
}

@include breakpoint(700px down) {
height: auto;
padding-top: 70px !important;
}

}

@media only screen and (max-height: 600px) and (max-width: 1200px){
  .section--nalle-hero {
  min-height: 600px;
  }
}




$hero-gutter: 10px;

.hero-container {

position: relative;
min-height: 100%;
flex-flow: row wrap;
display: flex;
margin-left: -$hero-gutter;
margin-right: -$hero-gutter;
}

.hero-cell {

width: 50%;
min-height: 100%;
position: relative;
padding: $hero-gutter;
@include breakpoint(750px down) {
height: auto;
width: 100%;
}
}

.hero-cell-inner {
  position: relative;
  display: block;
  width: 100%;
  min-width: 100%;

  height: 100%;
  // background: #bdc4a8;
  cursor: pointer;
@include breakpoint(750px down) {
  width: 100%;
      height: 0;
      padding-top: 56.25%;
      overflow: hidden;
      position: relative;
        min-height: 0;
}

@include breakpoint(1200px up) {
min-height: 250px;
}


}

// @media only screen and (max-height: 600px) and (max-width: 1000px) {
// .section--nalle-hero {
// min-height: 600px;
// }
// }


// @media only screen and (max-height: 680px) and (max-width: 1100px){
//   .section--nalle-hero {
// height: auto !important;
// }
// .hero-cell {
//   height: auto;
//   width: 100%;
// }
// }


.hero-film-title {
top: 0;
left: 0;
position: absolute;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
padding: 1rem;
text-align: center;
opacity: 0;
opacity: 1;
transition: opacity 0.3s;
@include breakpoint(750px down) {
opacity: 1;
}

// mix-blend-mode: overlay;
h2 {
color:white;
line-height: 1;
font-size: 38px;
margin-bottom: 6px;
@include breakpoint(1100px down) {
font-size: 34px;
}
@include breakpoint(800px down) {
font-size: 5vw;
}
@include breakpoint(750px down) {
font-size: 7vw;
margin-bottom: 4px;
}
}
h3 {
color:white;
text-transform: uppercase;
font-size: 18px;

@include breakpoint(1100px down) {
font-size: 16px;
}
@include breakpoint(750px down) {
font-size: 14px;
}
}
}


.hero-row--1.second-row-loaded {
// padding-bottom: 0;
// height: calc(100vh - 80px);
}

.hero-row--2 {
padding: 0 !important;
min-height: 100vh;
height: auto;
}

.page-template-home  .commercials-flex-grid {
padding-bottom: 60px;
}

.page-template-home .commercials-flex-grid{
padding-top: 0;
@include breakpoint(1000px down) {

  padding-bottom: 140px;
}
@include breakpoint(750px down) {
padding-bottom: 100px;
}
@include breakpoint(700px down) {
padding-bottom: 75px;
}
@include breakpoint(500px down) {
padding-bottom: 40px;
}
}


.hero-row--2.hide {
display: none;
}

.hero-cell--transition {
transition: 1s;
}

.hero-cell--transition:nth-child(2) {
transition-delay: 0.05s;
}

.hero-cell--transition:nth-child(3) {
transition-delay: 0.1s;
}

.hero-cell-transform-trigger .hero-cell{
transform: translateY(100px);
}

.hero-cell {
overflow:hidden;
}


.noise-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
}







.load-second-row-button {
position: absolute;
bottom: 10px;
left: 50%;
transform: translateX(-50%);
transition: opacity 0.3s;
@include breakpoint(750px down) {
bottom: 44px;
}
svg {
  height: 60px;
  width: auto;
}
}

.load-more--hover {
position: absolute;
left: 0;
top: 0;
opacity: 0;
}

.load-second-row-button:hover svg {
  @include breakpoint(1100px up) {
opacity: 0;
}

}
.load-second-row-button:hover .load-more--hover {
  @include breakpoint(1100px up) {
opacity: 1;
}
}

.spin-shit {
  transition: opacity 0.3s;
  transition-delay: 0.2s;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  opacity: 0;
  @include breakpoint(750px down) {
  bottom: 44px;
  }

  svg {
    height: 60px;
    width: auto;
    animation:spin 2s linear infinite;
  }

}

// @media only screen and (max-height: 710px) and (min-width: 710px){
// .spin-shit svg {
// height:55px;
// }
// .load-second-row-button svg{
// height:55px;
// }
//
// }

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }





/////////SINGLE FILM ///////


$next-film-link-positioner: 140px;

.single .pjax-container--film.film--hidden{
opacity: 1;
}
.single .link-2-next-film-wrapper {
  display: none;
}

.single .project-main-container{
  padding-bottom: 60px;
}

.pjax-container--film {
transition: opacity 0.5s;
}
.project-main-container {
  max-width: 1300px;
   padding-top: 160px;
   margin-top: 0;
   min-height: 100vh;
   min-height: calc(100vh - #{$next-film-link-positioner} - 60px);
   @include breakpoint(700px down) {
   min-height: calc(100vh - #{$next-film-link-positioner} - 40px);
   }
   @include breakpoint(700px down) {
   padding-top: 100px;
   }

}

.page-template-shortfilms .project-main-container {
padding-bottom: 60px;
}



.project-hero-film-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    background: #000;
    height: 0;
    margin-bottom: 40px;
    @include breakpoint(700px down) {
    margin-bottom: 20px;
    }
}

.project-hero-film-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.project-name-box {
text-align: center;
}


h2.project-name-box {

margin-bottom: 60px;
@include breakpoint(700px down) {
margin-bottom: 40px;
}

}

h1.project-name-box {
  word-break: break-all;
font-size: 70px;
line-height: 1;
margin-bottom: 10px;

@include breakpoint(700px down) {
font-size: 10vw;
margin-bottom: 8px;
}
}
h2.project-name-box {
  font-family: "Highway Gothic Wide";
font-size: 24px;
@include breakpoint(700px down) {
font-size: 18px;
}
}

.project-story {
  margin: auto;
      margin-bottom: 80px;
      text-align: center;
      max-width: 600px;
      @include breakpoint(700px down) {
      margin-bottom: 60px;
      max-width: 80vw;
      }
}

.project-info-cell {
text-align: center;
margin-top: 20px;
a {
text-decoration: underline;
}
}

.project-info-cell a:hover {
opacity: 0.8;
}

.js-next-film-link {
display: block;

}

.link-2-next-film-wrapper {
    max-width: 1300px;
    text-align: center;
    height: $next-film-link-positioner;
    margin-top: 60px;

@include breakpoint(700px down) {
    margin-top: 40px;

}

h2 {
font-size: 48px;

@include breakpoint(700px down) {
font-size: 8vw;
}

}
}

.project-xtra-content-wrapper {
margin-top: 60px;
@include breakpoint(700px down) {
margin-top: 30px;
}
}

.xtra--full-image {
    margin-bottom: 20px;
    @include breakpoint(700px down) {
    margin-bottom: 10px;
    }
}

.xtra--double-image-wrapper {

    display: flex;
    margin-bottom: 20px;
    @include breakpoint(700px down) {
    margin-bottom: 10px;
    }
}

.double-image--left {
    padding-right: 10px;
    @include breakpoint(700px down) {
      padding-right: 5px;
    }
}

.double-image--right {
    padding-left: 10px;
    @include breakpoint(700px down) {
      padding-left: 5px;
    }
}

.xtra--embed-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin-bottom: 20px;
    background: #000;
    @include breakpoint(700px down) {
    margin-bottom: 10px;
    }
}

.xtra--embed-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


// Commercials ///



.section--commercials-grid {
position: relative;
max-width: $base-width;
}



$commercials-gutter: 5px;

.commercials-flex-grid {
padding-top: 100px;
position: relative;
flex-flow: row wrap;
display: flex;
margin-left: -$commercials-gutter;
margin-right: -$commercials-gutter;
padding-bottom: 120px;

@include breakpoint(1400px down) {
padding-bottom: 80px;
}

@include breakpoint(1100px down) {
padding-bottom: 60px;

}

@include breakpoint(1000px down) {
padding-bottom: 170px;

}

@include breakpoint(750px down) {
padding-top: 60px;
padding-bottom: 140px;
}
}



.com-cell-link-box {
  width: 100%;
      height: 100%;
      display: block;
}

.com-cell {
width: 25%;
min-height: 100%;
position: relative;
padding: $commercials-gutter;

@include breakpoint(1000px down) {
width: 33.33%;
}
@include breakpoint(600px down) {
width: 50%;
}
}

.hero-row--2 .com-cell:nth-child(1), .hero-row--2 .com-cell:nth-child(2), .hero-row--2 .com-cell:nth-child(3), .hero-row--2 .com-cell:nth-child(4) {
  display: none;
}

// .com-cell:nth-child(odd) {
// margin-top: 16px;
// }
//
// .com-cell:nth-child(5n) {
// margin-top: 6px;
// }
//
// .com-cell:nth-child(6n) {
// margin-top: 12px;
// }
// .com-cell:nth-child(7n) {
// margin-top: 16px;
// }



.com-cell-inner {
  position: relative;
  display: block;
  width: 100%;

  background: #d1d5c9;

}

.page-template-home .com-cell-inner {

    background: #cbd1bb;
}
.page-template-shortfilms .com-cell-inner {

    background: #d9d5c0;
}




.com-film-title {
  position: relative;
      min-height: 40px;

      @include breakpoint(400px down) {
        min-height: 30px;
            }


h2 {
padding-top: 6px;
line-height: 1;
font-size: 14px;
font-family: "Highway Gothic Wide";
@include breakpoint(1250px down) {
    font-size: 14px;
    }

    @include breakpoint(600px down) {
        font-size: 2.4vw;
        }

        @include breakpoint(500px down) {
            font-size: 3vw;
            }
}
}


//////ABOUT///////

.about-manifest {
position: relative;
margin-left: auto;
margin-right:auto;
max-width: 700px;
text-align: center;
padding-top: 100px;
@include breakpoint(750px down) {
padding-top: 60px;
}

}
.awards-box--wrapper {
position: relative;
margin-left: auto;
margin-right:auto;
max-width: 700px;
text-align: center;
padding-top: 100px;
padding-bottom: 200px;
display: flex;
justify-content: center;
    align-items: center;
    @include breakpoint(1000px down) {

      padding-bottom: 280px;
    }
    @include breakpoint(700px down) {
      padding-top: 40px;
      padding-bottom: 180px;
    }
    @include breakpoint(500px down) {
      padding-top: 40px;
      padding-bottom: 140px;
    }
}

.awards-box--pilar {
  // padding: 0 60px;
span {
display: block;
line-height: 1.2;
    font-size: 34px;
    font-family: "Highway Gothic Expanded";
    // color:#df8611;
      @include breakpoint(700px down) {
          font-size: 24px;
      }
}
}
.awards-glow {
display: block;
height: 33px;
}
.awards-glow svg path {
// fill: #df8611 !important;
}

.awards-box--content {
  margin: 0 60px;
  @include breakpoint(700px down) {
  margin: 0 30px;
  }
p {
margin: 0;
@include breakpoint(700px down) {
margin: 10px 0;
}
}
}



//////SHORT FILMSSS/////


.short-films-container {
padding-top: 100px;
position: relative;
padding-bottom: 100px;
margin: auto;
max-width: 900px;
@include breakpoint(1000px down) {
padding-bottom: 160px;
padding-bottom: 220px;
}
@include breakpoint(750px down) {
padding-top: 60px;

}
@include breakpoint(500px down) {
padding-bottom: 180px;

}

}

.short-cell {
  margin-bottom: 40px;
  @include breakpoint(700px down) {
    margin-bottom: 20px;
  }
}

.short-film-title {
  position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-align: center;
      color: white;

      h2 {
        font-size: 48px;
        @include breakpoint(750px down) {
        font-size: 7vw;
        margin-bottom: 4px;
        }
      }
      h3 {
        font-size: 22px;
        @include breakpoint(750px down) {
        font-size: 14px;
        }
      }


}

.short-marq-container {
  position: absolute;
      bottom: 0;
      color:white;
      width: 100%;
      overflow-x: hidden;
  font-family: "favorit";
      span {
        font-size: 16px;
          font-family: "favorit";
          @include breakpoint(700px down) {
              font-size: 14px;
          }
      }
}

.marquee{
  display:flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  min-width: 100%;
.marquee__inner{
  display : flex;
  flex-shrink: 0;
  height: 38px;
  align-items: center;
  animation: slide-left 80s linear infinite;
  @include breakpoint(700px down) {
      height: 26px;
  }
  p{
    font-size: 2.5em;
    font-weight: 100;
    padding-left: 0.5em;
  }
  @keyframes slide-left {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
}
}


.contact-content-wrapper {

margin: auto;
display: flex;
justify-content: center;

padding-top: 140px;
padding-bottom: 100px;
position: relative;
font-family: "Favorit";
text-align: center;
flex-wrap: wrap;

}

.contact-video-cell {

  margin-left: 60px;
  margin-right: 60px;
position: relative;
width: 500px;
opacity: 0;
transition: opacity 0.5s;


// overflow:hidden;
@include breakpoint(1400px down) {
  margin-left: 40px;
  margin-right: 40px;
}
@include breakpoint(1300px down) {
width: 400px;
  }
  @include breakpoint(1240px down) {
  width: 340px;
  }
  @include breakpoint(1022px down) {
    order: -1;
    }

video, iframe {
  width: 100%;
  // width: calc(100% - 2px);
  height: auto;
    // height: calc(auto - 2px);
  position: absolute;
  transform: scale(0.99);
  top: 0;
  left: 0;
}
}

.video-aspect-box {
position: relative;
top: 0;
left: 0;
height: 0;
width: 100%;
padding-top: 138.46%;

overflow:hidden;
}

.video-mask {
position: absolute;
    width: 100%;
height: auto;
    top: 0;
    left: 0;
z-index:2;



}

.cls-1 {
  transition: fill 0.5s;
}


.contact-info-cell {
svg {
width: 150.56px;
}
}

.contact-representation-cell {
svg {
width: 243.24px;
}
p {
  margin: 0;
}
}

.contact-info-cell, .contact-representation-cell {
margin-top:240px;
width: 300px;
@include breakpoint(1300px down) {
margin-top:180px;
  }
  @include breakpoint(1240px down) {
  width: 260px;
  margin-top:140px;
  p,a {
    font-size: 14px;
  }
    }
  @include breakpoint(1022px down) {
    width: 100%;
    margin-top: 60px;
    p,a {
      font-size: inherit;
    }
    }

}

.svg-wrapper {
    height: 136px;
@include breakpoint(1022px down) {
  height: auto;
  margin-bottom: 20px;
  }
}

.contact-representation-cell .svg-wrapper {
padding-top: 18px;
@include breakpoint(1022px down) {
  padding-top: 0;
  }
}

@media only screen and (min-width: 1200px) and (max-height: 900px){

.contact-content-wrapper {
padding-top: 100px;

}
}






// FILM LINK HOVER
.hero-film-title {
    // filter: drop-shadow(2px 4px 6px black);
}

.js-film-link.hover--active .hero-film-title {
  opacity: 1;
  transition: opacity 0.5s;
h2 {

text-decoration: underline;
}
  // filter: drop-shadow(1px 2px 4px black);
}
.touch-device .hero-film-title {
h2 {
text-decoration:none !important;
}
}
.js-film-link.hover--active .short-film-title {
  opacity: 1;
  transition: opacity 0.5s;
h2 {
text-decoration: underline;
}
  // filter: drop-shadow(1px 2px 4px black);
}

.touch-device .short-film-title {
h2 {
text-decoration:none !important;
}
}

.js-film-link.hover--active .a-ratio-item{
  filter: saturate(1.2);
}


// .hero-cell-inner.hover--active {
//   filter: contrast(1.1);
// }



.js-film-link.hover--active .noise-canvas{
  @include breakpoint(1100px up) {
  visibility: visible;
}

}


/////OVERLAY SHIIIT /////

.body-bg-override body {
background: #2d2c2a !important;
}


.film-loading-wrapper {
position: absolute;
top: 0;
left: 0;
height: 100%;
max-height: 100vh;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
z-index: 2;
transition: opacity 0.3s;
pointer-events: none;
text-align: center;
@include breakpoint(700px down) {
    padding-top: 30vh;
    align-items: flex-start;
    }
}

.film-loading-wrapper--inner {
padding: 20px;
}

.film-loading-wrapper--client-name {
font-size: 70px;
line-height: 1;
margin-bottom: 10px;
word-break: break-all;

@include breakpoint(700px down) {
font-size: 10vw;
margin-bottom: 8px;
}
}
.film-loading-wrapper--project-name {
font-size: 24px;
@include breakpoint(700px down) {
font-size: 18px;
}
}



.project-overlay-view {
    margin-top: 0;
    margin-bottom: 0;
    position: fixed;
    color: #f4f2ed;
    background: #2d2c2a;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 80;
    transition: .5s;
    transform: translate3d(0,100%,0);
    min-height: 100vh;
    @include breakpoint(700px down) {
    transform: translate3d(100%,0,0);
    }
    a {
          color: #f4f2ed;
          display: inline-block;
          opacity: 0.6;
          transition: opacity 0.3s;
          @include breakpoint(1024px down) {
              opacity: 0.6;
          }
          svg {
                height: 56px;
                width: auto;
          }
    }
    }
    .project-overlay-view a:hover {
      opacity: 1;
    }

    .project-overlay-view--show {
    transform: translate3d(0,0,0);
    }

    .inner-mover {
          position: relative;
    }

    .pjax-container--film.film--hidden {
      opacity: 0;
    }




    .close-film-button-wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    color: #fff;

    text-align: center;
    margin: auto;
    // transform: translate3d(0,-100%,0);
    display: none;
    padding-top: 40px;
    @include breakpoint(700px down) {
    padding-top: 30px;
    }


    transition: transform .5s cubic-bezier(.7,0,.3,1);


    span {
      transition: all 0.5s;
      cursor:pointer;
        display: inline-block;
          height:48px;
          @include breakpoint(700px down) {
            height:38px;
          }
      svg {
        height:48px;
        @include breakpoint(700px down) {
          height:38px;
        }
      }

    }
}

html.header--not-on-top .close-fim-button {
transform: translateY(-30px);
@include breakpoint(700px down) {
transform: translateY(-22px);
}
}

.close-film-button-wrapper_eq {
max-width: 1300px;
}

// .close-film-button-wrapper_border {
//   padding-top: 20px;
//   border-bottom: solid 1px;
//   padding-bottom: 20px;
// }

  .close-film-button-wrapper.dropped {
  transform: translate3d(0,0,0);


  }









///////HOME PJAX_THING//////

// .page-template-home .commercials-flex-grid{
// padding-top: 0;
// opacity: 0;
// transition: opacity 0.5s;
// }

// .hero-container {
// justify-content: center;
// }
//
// .hero-cell {
// height: 40vh;
// width: 40%;
// width: 70vh;
// }
// .hero-cell:nth-child(2) {
// transform: translate(10px, 20px);
// }
//
// .hero-cell:nth-child(3) {
// transform: translate(-30px, 10px);
// }
//
// .hero-row--2 {
// padding-top: 0;
// // margin-top:-80px;
// }
.home-scroll-point {
  position: absolute;
      bottom: 0;
      height: $header-height - 5px;
      width: 100%;
z-index: -1;
// @include breakpoint(750px down) {
bottom: 60px;
@include breakpoint(700px down) {
bottom: 100px;
}
// }
}
// .hero-row--2 {
// transform: translate3d(0,-80px,0);
// }
//
// .hero-cell-transform-trigger {
// transform: translate3d(0,0,0);
// }

.transform-com-block {
transition: 0.5s;
transform: translateY(-60px);
padding-bottom: 0;
@include breakpoint(700px down) {
transform: translateY(-100px);
}
}

//////HOME GRID ANIM/////







/////PJAX////

.main-app, .main-navigation--wrapper {
transition: background 0.5s;
}

.pjax-container--main {
transition: opacity 0.5s;
}

html.pjax--fade .pjax-container--main {
  opacity: 0;
}




/////LAZYLOAD/////

.lazy-anim {
  opacity: 0;
  transition: opacity  0.5s;
}
.ls-is-cached {
    opacity: 1;
    transition: opacity 0s;
}

.lazy-anim.lazyloaded {
  opacity: 1;
}
.hero-film-title, .short-film-title, .marquee{
transition: opacity 1s;
}

.marquee {
transition-delay: 1s;
}

.image--loading .hero-film-title {
opacity: 0;
}
.image--loading .short-film-title {
opacity: 0;
}
.image--loading .marquee {
opacity: 0;
}

/////LOADING//


 .loading-smoke  {
position: fixed;
left: 0;
right: 0;
top: 0;
height: 100%;
width: 100%;
z-index: 999;
transition: opacity 0.5s;
opacity: 0;
}

.page-is-loading .loading-smoke  {
opacity: 1;
}


/////BOTTOM LINK /////


.pjax-container--main {
min-height: calc(100vh - 180px);
position: relative;
@include breakpoint(750px down) {
min-height: calc(100vh - 130px);
}
}

.bottom-link {
  width: 100%;
  position: absolute;
  bottom: 70px;
  text-align: center;
  margin: auto;

  h2 {
    margin-top: 0.2vw;
    text-align: center;
    font-size: 6vw;
    font-family: "Highway Gothic Wide";
    text-decoration: underline;

    @include breakpoint(500px down) {
    font-size: 6vw;
    }
  }
}

.bottom-link svg {
width: 5vw;
height: auto;
display: none;
}

.bottom-link {
@include breakpoint(1000.11px up) {
display: none;
}
}

.bottom-link-home {
display: none;
}




// .project-hero-film-wrapper iframe {
//   display: none;
// }



.deprecated-alert {
    display: none;
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    padding: 60px 2rem;
    font-size: 24px;
    top: 0;
    background: #f3ece2;
      color: #000;

      a {
        text-decoration: underline;
      }
}

.dep-alert-inner {
    text-align: center;
    max-width: 800px;
    margin: auto;
}
