.fixed-smoke {
  position: fixed;
  width: 100%;
  height: 0;
  opacity: 0;
  background: #000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  -webkit-transition: opacity 2s 0.2s,height 0s 2.2s;
  -o-transition: opacity 2s 0.2s,height 0s 2.2s;
  transition: opacity 2s 0.2s,height 0s 2.2s;
}
// body.project--active .fixed-smoke {
//     height: 100%;
//     opacity: 0.4;
//     -webkit-transition: opacity 1s,height 0s;
//     -o-transition: opacity 1s,height 0s;
//     transition: opacity 1s,height 0s;
// }
// body.project--active .main-app {
// filter: blur(10rem);
// }

.project-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: black;
  transform: translate3d(0,100vh,0);
  overflow: hidden;
}

.to-lab-transition-home {
  background: black;
  transition: background 1s;
  color: white;

  .header-fake-bg {
    transform: translate3d(0,-100%,0);
  }

  .project-overlay {
    transform: translate3d(0,0,0);
    transition: transform 0.8s cubic-bezier(.7,0,.3,1);
  }

  .header-bg-wrap {
    @include breakpoint(1200px down) {
      mix-blend-mode: difference;
    }
  }

  .desktop-logo-link {
    fill: white;
    transition: fill 1s;
  }

  .nav-links a {
    color: white;
    transition: color 1s;
  }

  .emblem-wrapper {
    display: block;
  }

  .main-app {
    transition-delay: 3s;
  }
}

.is-popstate,
.to-basic-transition,
 {
  .main-app {
    // transition-delay: 0.5s;
  }
}

.project-overlay-borderer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; // border-bottom: solid 1px black;
  height: 61px;
}
// body.project--active .project-overlay {
//     -webkit-transform: translateZ(0);
//     transform: translateZ(0);
// }
// body.project--active .header-border-faker {
//   transform: scaleX(1);
//
// }

// .main-app {
//   transition: opacity 0.5s cubic-bezier(.7,0,.3,1), filter 0.0s linear, transform 0.5s;
// }

// html.page-swap .main-app {
//   opacity: 0;
//   // transform: scale(0.99);
//   transition: opacity 0.5s cubic-bezier(.7,0,.3,1), filter 0.0s linear, transform 0.5s cubic-bezier(.7,0,.3,1); // transition-delay: 0.3s
// }
html.page-swap .page-template-lab .main-app {
  opacity: 0;


}

html .home--project-grid-cell {
  transition: opacity 1s, transform 1s; // transition-delay: 0.3s
}

html .project-page-grid .grid-x {
  // transition: opacity 0.5s;
  // transition-delay: 0.5s;
}

html.is-animating .project-page-grid .grid-x {
  // opacity: 0;
}
// @for $i from 1 to 10 {
//   html .project-page-grid .home--project-grid-cell:nth-child(#{$i}) { transition-delay: 0.3s + $i * 0.1s; }
// }
// html.is-animating .project-page-grid .home--project-grid-cell {
//
//   transition:   opacity 0s, transform 0.5s cubic-bezier(.7,0,.3,1); // transition-delay: 0.3s
//   transform: translate3d(0,40px,0);
//   transition-delay: 2s !important;
// }
//
// html.page-swap .main-app .project-page-grid .home--project-grid-cell {
//
//   transform: translate3d(0,20px,0);
//   transition:   opacity 0s, transform 0.5s cubic-bezier(.7,0,.3,1); // transition-delay: 0.3s
//   transition-delay: 2s !important;
//
// }

html.filter-mute .main-app {}
// html.page-swap .header-bg-wrap {
// background: transparent;
//
// }

html.header--transition-mod .header-fake-bg {
  // transition-delay: 1s;
}

html.header--transition-mod .header-fake-bg {
  display: none;
  background: transparent;
}

html.page-swap .header-fake-bg {
  // transform: translate3d(0,-100%,0);
  // transition: transform 0.5s cubic-bezier(.7,0,.3,1),-webkit-transform 0.5s cubic-bezier(.7,0,.3,1);
}

html.page-swap .emblem-wrapper {
  opacity: 0;
  transition: 0s cubic-bezier(.7,0,.3,1);
}
html.page-swap .page-template-lab .emblem-wrapper {
  opacity: 0;
  transition: 0.5s cubic-bezier(.7,0,.3,1);
}
// body.project--active .header-bg-wrap {
// background: black;
// transition: 1s
// }
// body.project--active .main-header {
//   background: black;
//   transition: 1s
// }
// body.project--active .top-nav {
//   background: black;
//   transition: 1s
// }
// body.project--active .m-logo-cell a {
//   color: white;
//   transition: 1s
// }
// body.project--active .nav-links a {
//   color: white;
//   transition: 1s
// }

.agency-canvas-wrapper {
  transition: opacity 0.5s cubic-bezier(.7,0,.3,1);
}

.canvas-transition-effector .agency-canvas-wrapper {
  opacity: 0;
}

.project-grid-section {}

html.page-swap .project-grid-section {
  // transform: translate3d(0,30px,0);
  // transition-delay: 1s;
}

html.page-swap.headroom--unpinned .header-bg-wrap {
  transform: translate3d(0,0,0) !important;
  // opacity: 0;
  transition: 0s !important;

}

html.next-project--activated.headroom--unpinned .header-bg-wrap {
  transform: translate3d(0,0,0) !important;
  // opacity: 0;
  transition: 0s !important;

}

html.next-project--transforming.headroom--unpinned .header-bg-wrap {
  transform: translate3d(0,0,0) !important;
  // opacity: 1;
  // transition: 0.5s cubic-bezier(.7,0,.3,1) !important;
  // transition-delay: 0.2s !important;
}

html.header-fix-to-top .header-bg-wrap {
  transform: translate3d(0,0,0) !important;
  transition: 0s !important;
}

html.header-fix-to-top .header-fake-bg {
transform: none 
}


html.is-popstate.headroom .header-bg-wrap {
  background: transparent;
}

// .headroom--top .header-bg-wrap {
//   transition: transform 0.5s cubic-bezier(.7,0,.3,1), opacity 0.5s cubic-bezier(.7,0,.3,1), background 0s cubic-bezier(.7,0,.3,1);
//   background: transparent !important;
// }


.headroom--unpinned .page-template-lab .header-bg-wrap {
transform: translate3d(0,0,0);
opacity: 1;
transition: transform 0.5s cubic-bezier(.7,0,.3,1), opacity 0.5s cubic-bezier(.7,0,.3,1), background 0s cubic-bezier(.7,0,.3,1) !important;
}


// html.canvas-transition-effector .header-bg-wrap{
//   opacity: 1 !important;
//   background: transparent !important;
// }
html.canvas-transition-effector.page-swap .lab-grid-wrapper{
filter: hue-rotate(180deg);
  transition: opacity 0.5s cubic-bezier(.7,0,.3,1), filter 0.5s cubic-bezier(.7,0,.3,1), transform 0.5s cubic-bezier(.7,0,.3,1); // transition-delay: 0.3s
}

@-moz-document url-prefix() {
  html.canvas-transition-effector.page-swap .lab-grid-wrapper{
  filter: none;
    transition: opacity 0.5s cubic-bezier(.7,0,.3,1), filter 0s cubic-bezier(.7,0,.3,1), transform 0.5s cubic-bezier(.7,0,.3,1);
  }
}
