button {
cursor: pointer
}
*:focus {
outline: none;
}

body {overflow-x:hidden}


.prevent-click {
pointer-events: none;  
}


.admin-bar .main-navigation-wrapper {
  top: 32px;
}

.legacy-browsers-message {
position: fixed;
bottom: 0;
left: 0;
width: 100%;
background-color: black;
color: white;
padding: 3rem;
color: white;
text-align: center;
}

// SPLITT CELL MAX WIDTH FOR MEDIUM
.max-700-c {
max-width: 700px;
}
.max-800-c {
max-width: 800px;
@include breakpoint(medium down) {
max-width: 700px;
}
}
.a-ratio-2-3 {
  // background: #f2f2f2;
      width: 100%;
      height: 0;
      padding-top: 66.67%;
      overflow: hidden;
      position: relative;
}

.a-ratio-16-9 {
  // background: #f2f2f2;
      width: 100%;
      height: 0;
      padding-top: 56.25%;
      overflow: hidden;
      position: relative;
}




.a-ratio-item {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.a-ratio-item img {
position: absolute;
width: 100%;
height: 100%;
object-fit: cover;

}





.aspect-video-embed {
  position: relative;
  height: 0;

  padding-bottom: 56.25%;
  overflow: hidden;
  margin: 0 auto;
}


.flex-video embed, .flex-video iframe, .flex-video object, .flex-video video, .aspect-video-embed embed, .aspect-video-embed iframe, .aspect-video-embed object, .aspect-video-embed video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
