// LAYOUT

$base-width: 1680px;

$base-width: 1800px;

$header-height: 96px;
$header-height--mobile: 80px;


@mixin base-padding{
padding: 0 60px;
  @include breakpoint(1100px down) {
  padding: 0 40px;
    }
    @include breakpoint(700px down) {
    padding: 0 20px;
      }
}

// COLORS
