$link-gutter: 10px;
$nav-font: "Highway Gothic Wide";


$logo-height: 28px;
$logo-height--mobile: 20px;


.u--header-height {
height: $header-height;
@include breakpoint(700px down) {
height: $header-height--mobile;
}
}




//MAIN HEADER

.main-navigation--wrapper {

width: 100%;
position: fixed;
z-index: 5;
@include breakpoint(700px down) {

}
}


.main-navigation--container {
max-width: $base-width;
@include base-padding;
width: 100%;
top: 0;
left: 0;
right: 0;
z-index: 5;


margin-left: auto;
margin-right: auto;

@include breakpoint(1200px down) {

}

  @include breakpoint(700px down) {
}
}

.main-navigation--grid{
  position: relative;
  padding-top: 20px;
  margin-bottom: 8px;
margin-left: -$link-gutter;
margin-right: -$link-gutter;
        // align-items: center;
        justify-content: space-between;
@include breakpoint(1000px down) {
justify-content: center;

  }
}


.main-navigation--logo-cell {
height: $logo-height;
  width: auto;
  @include breakpoint(700px down) {

  text-align: center;

  height:$logo-height--mobile;
  width: auto;


  }
}

.main-navigation--logo svg{

fill: black;
height: $logo-height;
width: auto;
  @include breakpoint(700px down) {
    height: $logo-height--mobile;
        width: auto;
    }
}



.main-navigation--nav-links_right {
display: flex;
justify-content: flex-end;
}


.main-navigation--nav-links{
  width: 300px;
  padding-top: 2px;
  @include breakpoint(1000px down) {
  display: none;


  }
}





.main-navigation--nav-links ul {
  list-style: none;
  margin: 0;
  padding: 0;

}
.main-navigation--nav-links li {
  display: inline-block;

}
.main-navigation--nav-links a {
  margin-left: $link-gutter;
  margin-right: $link-gutter;
font-family: $nav-font;
color:$c--main-text;
font-size: 16px;
text-transform: uppercase;
line-height: 1;
display: inline-block;
    @include breakpoint(700px down) {
      font-size: 16px;
    }
}





/////////CUSTOM////////


.navigation-director-box {
  text-align: center;
  position: relative;
  @include breakpoint(700px down) {
    font-size: 14px;
  }
}

.navigation-director-box::before {
  content: "";
  height: 2px;
  width: 50%;
      width: calc(50% - 50px);
  position: absolute;
  background: #2d2c2a;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  @include breakpoint(700px down) {
  width: calc(50% - 42px);
  }
}
.navigation-director-box::after {
  content: "";
  height: 2px;
  width: 50%;
      width: calc(50% - 50px);
  position: absolute;
  background: #2d2c2a;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  @include breakpoint(700px down) {
  width: calc(50% - 42px);
  }
}


.main-navigation--logo {
position: relative;
}
// .double-svg {
// opacity: 1;
// position: absolute;
// left: 0;
// left: 2px;
// top: -12px;
// z-index: -1;
// // filter: blur(2px);
// // animation-name: example;
// animation-duration: 0.2s;
//  animation-iteration-count:infinite;
// path {
// fill: orange!important;
//
// }
//
// }
//
//
//
// @keyframes example {
//     0%{filter: hue-rotate(0) blur(1px);}
//   100% {filter: hue-rotate(360deg) blur(1px);}
// }



.mobile-nav-trigger-box {
position: absolute;


top: 19px;
right: 11px;
svg, span {
height: 20px;
width: 20px;
display: block;
}

@include breakpoint(700.11px up) {
  svg, span  {
  height: 28px;
  width: 28px;
  }
}

  @include breakpoint(1000.11px up) {
display: none;
  }

  svg {
    transition: transform 1s;
  }


}

.mobile-menu--active .mobile-nav-trigger-box svg {
transform: rotate(135deg);

}


.fixed-mobile-navigation {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 4;
opacity: 0;
height: 0;
display: flex;
justify-content: center;
align-items: center;
transition: background 0.5s;
overflow: hidden;
}

.mobile-menu--active .fixed-mobile-navigation {
  height: 100%;
  opacity: 1;

}


.fixed-mobile-navigation--inner {
  padding-bottom: $header-height - 20px;
  @include breakpoint(700px down) {
  padding-bottom: $header-height--mobile  - 20px;
  }
}


.fixed-mobile-navigation .fake-li{
display: block;
// padding: 2px 0;
transform: translateY(60px);
opacity: 0;
transition: all 0.75s ease-in-out;
a {
text-transform: uppercase;
font-size: 9vw;
line-height: 1.2;
}

}

@media only screen and (max-height: 500px) {

  .fixed-mobile-navigation--inner {
padding-bottom: 0;
  }
  .fixed-mobile-navigation .fake-li{

  a {
  text-transform: uppercase;
  font-size: 8vh;
  line-height: 1.2;
  }

  }

}


.mobile-menu--active .fixed-mobile-navigation .fake-li{
transform: translate(0);
opacity: 1;
}

.fixed-mobile-navigation .fake-li:nth-of-type(2){
transition-delay: 0.05s;
}
.fixed-mobile-navigation .fake-li:nth-of-type(3){
transition-delay: 0.1s;
}
.fixed-mobile-navigation .fake-li:nth-of-type(4){
transition-delay: 0.15s;
}
.fixed-mobile-navigation .fake-li:nth-of-type(5){
transition-delay: 0.2s;
}
.fixed-mobile-navigation .fake-li:nth-of-type(6){
transition-delay: 0.25s;
}
.fixed-mobile-navigation .fake-li:nth-of-type(6){
transition-delay: 0.3s;
}


.main-navigation--logo {
    position: relative;
    display: block;
    height: 28px;
}

.bottom-one {
// clip-path: url(#myCurve);
// animation: opacitys 2.5s;
// animation-iteration-count: 1;
// animation: clip 2s infinite;
// animation-timing-function: linear;
// opacity: 0.5;
path {
// animation: fills 2.5s infinite;
}
}

.top-one {
position: absolute;
left: 0;
top:0;
visibility: hidden;
// display: none;
// display: none;
// clip-path: url(#myCurve);
// animation: clip 2.5s;
// animation-iteration-count: 1;
// animation-timing-function: linear;
// clip-path: polygon(0% 39%, 25% 31%, 46% 46%, 58% 33%, 71% 48%, 83% 31%, 100% 32%, 100% 89%, 70% 96%, 57% 81%, 38% 95%, 18% 83%, 10% 93%, 0 95%, 1% 89%, 0 73%, 1% 62%, 1% 62%, 0 55%);
path {
  // fill: orange !important;
  // fill: #ef7a0b !important;
  //   // fill:     #d5dbc3 !important;


  fill: #2d2c2a !important;


}


}

.logo-opacity .bottom-one {
opacity: 0.3;
}

.logo-opacity.ios-fix .bottom-one {
opacity: 1;
}

.ios-fix .top-one {
display: none;
}

.activate-animation .bottom-one {
  animation: opacitys 2.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.activate-animation.ios-fix .bottom-one {
  animation: none;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.activate-animation .top-one {
  visibility: visible;
  animation: clip 2.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.activate-animation.ios-fix .top-one {
  visibility: visible;
  display: none;
  animation: clip 2.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}


@keyframes opacitys {

  30% {
      opacity: 0.3;
  }
  90% {
      opacity: 0.2;
  }
   100% {
    opacity: 0.2;
  }
}

@keyframes fills {
  0% {
// fill: #f18015;

  }
  50% {
        fill: #414139;
        // fill: #f18015;
  }
   100% {

  }
}



@keyframes clip-o {
  0% {
        opacity: 0.9;
    clip-path: polygon(100% 50%,84.70057014808336% 54.5684167277018%,91.0518476172854% 60.99980941685713%,82.33578363789503% 63.39392013277814%,93.30127018922194% 75%,77.76736691019323% 71.30665001530522%,80.05203820042827% 80.05203820042827%,71.30665001530522% 77.76736691019323%,75% 93.30127018922192%,63.39392013277814% 82.33578363789503%,60.99980941685714% 91.0518476172854%,54.56841672770181% 84.70057014808336%,50% 100%,45.4315832722982% 84.70057014808336%,39.000190583142874% 91.0518476172854%,36.606079867221865% 82.33578363789505%,25.00000000000001% 93.30127018922194%,28.693349984694787% 77.76736691019323%,19.947961799571733% 80.05203820042827%,22.23263308980677% 71.30665001530522%,6.698729810778076% 75.00000000000001%,17.664216362104966% 63.39392013277815%,8.948152382714603% 60.99980941685715%,15.299429851916635% 54.568416727701816%,0% 50.00000000000001%,15.299429851916635% 45.431583272298205%,8.94815238271459% 39.00019058314288%,17.66421636210496% 36.60607986722188%,6.698729810778062% 25.000000000000014%,22.23263308980676% 28.693349984694787%,19.947961799571715% 19.947961799571747%,28.69334998469477% 22.232633089806775%,24.99999999999998% 6.698729810778083%,36.60607986722184% 17.664216362104973%,39.00019058314284% 8.948152382714603%,45.43158327229816% 15.299429851916642%,49.99999999999999% 0%,54.568416727701795% 15.299429851916635%,60.99980941685711% 8.94815238271459%,63.39392013277812% 17.66421636210496%,74.99999999999997% 6.6987298107780475%,71.3066500153052% 22.23263308980675%,80.05203820042826% 19.947961799571722%,77.76736691019323% 28.69334998469477%,93.30127018922192% 24.99999999999998%,82.33578363789502% 36.60607986722184%,91.0518476172854% 39.00019058314283%,84.70057014808336% 45.43158327229816%);
  }
  50% {
        opacity: 0.9;
    clip-path: polygon(84.70057014808336% 54.5684167277018%,91.0518476172854% 60.99980941685713%,82.33578363789503% 63.39392013277814%,93.30127018922194% 75%,77.76736691019323% 71.30665001530522%,80.05203820042827% 80.05203820042827%,71.30665001530522% 77.76736691019323%,75% 93.30127018922192%,63.39392013277814% 82.33578363789503%,60.99980941685714% 91.0518476172854%,54.56841672770181% 84.70057014808336%,50% 100%,45.4315832722982% 84.70057014808336%,39.000190583142874% 91.0518476172854%,36.606079867221865% 82.33578363789505%,25.00000000000001% 93.30127018922194%,28.693349984694787% 77.76736691019323%,19.947961799571733% 80.05203820042827%,22.23263308980677% 71.30665001530522%,6.698729810778076% 75.00000000000001%,17.664216362104966% 63.39392013277815%,8.948152382714603% 60.99980941685715%,15.299429851916635% 54.568416727701816%,0% 50.00000000000001%,15.299429851916635% 45.431583272298205%,8.94815238271459% 39.00019058314288%,17.66421636210496% 36.60607986722188%,6.698729810778062% 25.000000000000014%,22.23263308980676% 28.693349984694787%,19.947961799571715% 19.947961799571747%,28.69334998469477% 22.232633089806775%,24.99999999999998% 6.698729810778083%,36.60607986722184% 17.664216362104973%,39.00019058314284% 8.948152382714603%,45.43158327229816% 15.299429851916642%,49.99999999999999% 0%,54.568416727701795% 15.299429851916635%,60.99980941685711% 8.94815238271459%,63.39392013277812% 17.66421636210496%,74.99999999999997% 6.6987298107780475%,71.3066500153052% 22.23263308980675%,80.05203820042826% 19.947961799571722%,77.76736691019323% 28.69334998469477%,93.30127018922192% 24.99999999999998%,82.33578363789502% 36.60607986722184%,91.0518476172854% 39.00019058314283%,84.70057014808336% 45.43158327229816%,100% 50%);
  }
   100% {
         opacity: 0.9;
    clip-path: polygon(91.0518476172854% 60.99980941685713%,82.33578363789503% 63.39392013277814%,93.30127018922194% 75%,77.76736691019323% 71.30665001530522%,80.05203820042827% 80.05203820042827%,71.30665001530522% 77.76736691019323%,75% 93.30127018922192%,63.39392013277814% 82.33578363789503%,60.99980941685714% 91.0518476172854%,54.56841672770181% 84.70057014808336%,50% 100%,45.4315832722982% 84.70057014808336%,39.000190583142874% 91.0518476172854%,36.606079867221865% 82.33578363789505%,25.00000000000001% 93.30127018922194%,28.693349984694787% 77.76736691019323%,19.947961799571733% 80.05203820042827%,22.23263308980677% 71.30665001530522%,6.698729810778076% 75.00000000000001%,17.664216362104966% 63.39392013277815%,8.948152382714603% 60.99980941685715%,15.299429851916635% 54.568416727701816%,0% 50.00000000000001%,15.299429851916635% 45.431583272298205%,8.94815238271459% 39.00019058314288%,17.66421636210496% 36.60607986722188%,6.698729810778062% 25.000000000000014%,22.23263308980676% 28.693349984694787%,19.947961799571715% 19.947961799571747%,28.69334998469477% 22.232633089806775%,24.99999999999998% 6.698729810778083%,36.60607986722184% 17.664216362104973%,39.00019058314284% 8.948152382714603%,45.43158327229816% 15.299429851916642%,49.99999999999999% 0%,54.568416727701795% 15.299429851916635%,60.99980941685711% 8.94815238271459%,63.39392013277812% 17.66421636210496%,74.99999999999997% 6.6987298107780475%,71.3066500153052% 22.23263308980675%,80.05203820042826% 19.947961799571722%,77.76736691019323% 28.69334998469477%,93.30127018922192% 24.99999999999998%,82.33578363789502% 36.60607986722184%,91.0518476172854% 39.00019058314283%,84.70057014808336% 45.43158327229816%,100% 50%,84.70057014808336% 54.5684167277018%);
  }
}

@keyframes clip2 {
  0% {
    opacity: 0.2;
    clip-path: polygon(91.0518476172854% 60.99980941685713%,82.33578363789503% 63.39392013277814%,93.30127018922194% 75%,77.76736691019323% 71.30665001530522%,80.05203820042827% 80.05203820042827%,71.30665001530522% 77.76736691019323%,75% 93.30127018922192%,63.39392013277814% 82.33578363789503%,60.99980941685714% 91.0518476172854%,54.56841672770181% 84.70057014808336%,50% 100%,45.4315832722982% 84.70057014808336%,39.000190583142874% 91.0518476172854%,36.606079867221865% 82.33578363789505%,25.00000000000001% 93.30127018922194%,28.693349984694787% 77.76736691019323%,19.947961799571733% 80.05203820042827%,22.23263308980677% 71.30665001530522%,6.698729810778076% 75.00000000000001%,17.664216362104966% 63.39392013277815%,8.948152382714603% 60.99980941685715%,15.299429851916635% 54.568416727701816%,0% 50.00000000000001%,15.299429851916635% 45.431583272298205%,8.94815238271459% 39.00019058314288%,17.66421636210496% 36.60607986722188%,6.698729810778062% 25.000000000000014%,22.23263308980676% 28.693349984694787%,19.947961799571715% 19.947961799571747%,28.69334998469477% 22.232633089806775%,24.99999999999998% 6.698729810778083%,36.60607986722184% 17.664216362104973%,39.00019058314284% 8.948152382714603%,45.43158327229816% 15.299429851916642%,49.99999999999999% 0%,54.568416727701795% 15.299429851916635%,60.99980941685711% 8.94815238271459%,63.39392013277812% 17.66421636210496%,74.99999999999997% 6.6987298107780475%,71.3066500153052% 22.23263308980675%,80.05203820042826% 19.947961799571722%,77.76736691019323% 28.69334998469477%,93.30127018922192% 24.99999999999998%,82.33578363789502% 36.60607986722184%,91.0518476172854% 39.00019058314283%,84.70057014808336% 45.43158327229816%,100% 50%,84.70057014808336% 54.5684167277018%);

  }
  50% {
        opacity: 0.9;
    clip-path: polygon(84.70057014808336% 54.5684167277018%,91.0518476172854% 60.99980941685713%,82.33578363789503% 63.39392013277814%,93.30127018922194% 75%,77.76736691019323% 71.30665001530522%,80.05203820042827% 80.05203820042827%,71.30665001530522% 77.76736691019323%,75% 93.30127018922192%,63.39392013277814% 82.33578363789503%,60.99980941685714% 91.0518476172854%,54.56841672770181% 84.70057014808336%,50% 100%,45.4315832722982% 84.70057014808336%,39.000190583142874% 91.0518476172854%,36.606079867221865% 82.33578363789505%,25.00000000000001% 93.30127018922194%,28.693349984694787% 77.76736691019323%,19.947961799571733% 80.05203820042827%,22.23263308980677% 71.30665001530522%,6.698729810778076% 75.00000000000001%,17.664216362104966% 63.39392013277815%,8.948152382714603% 60.99980941685715%,15.299429851916635% 54.568416727701816%,0% 50.00000000000001%,15.299429851916635% 45.431583272298205%,8.94815238271459% 39.00019058314288%,17.66421636210496% 36.60607986722188%,6.698729810778062% 25.000000000000014%,22.23263308980676% 28.693349984694787%,19.947961799571715% 19.947961799571747%,28.69334998469477% 22.232633089806775%,24.99999999999998% 6.698729810778083%,36.60607986722184% 17.664216362104973%,39.00019058314284% 8.948152382714603%,45.43158327229816% 15.299429851916642%,49.99999999999999% 0%,54.568416727701795% 15.299429851916635%,60.99980941685711% 8.94815238271459%,63.39392013277812% 17.66421636210496%,74.99999999999997% 6.6987298107780475%,71.3066500153052% 22.23263308980675%,80.05203820042826% 19.947961799571722%,77.76736691019323% 28.69334998469477%,93.30127018922192% 24.99999999999998%,82.33578363789502% 36.60607986722184%,91.0518476172854% 39.00019058314283%,84.70057014808336% 45.43158327229816%,100% 50%);
  }
   100% {
    opacity: 0.2;
    clip-path: polygon(91.0518476172854% 60.99980941685713%,82.33578363789503% 63.39392013277814%,93.30127018922194% 75%,77.76736691019323% 71.30665001530522%,80.05203820042827% 80.05203820042827%,71.30665001530522% 77.76736691019323%,75% 93.30127018922192%,63.39392013277814% 82.33578363789503%,60.99980941685714% 91.0518476172854%,54.56841672770181% 84.70057014808336%,50% 100%,45.4315832722982% 84.70057014808336%,39.000190583142874% 91.0518476172854%,36.606079867221865% 82.33578363789505%,25.00000000000001% 93.30127018922194%,28.693349984694787% 77.76736691019323%,19.947961799571733% 80.05203820042827%,22.23263308980677% 71.30665001530522%,6.698729810778076% 75.00000000000001%,17.664216362104966% 63.39392013277815%,8.948152382714603% 60.99980941685715%,15.299429851916635% 54.568416727701816%,0% 50.00000000000001%,15.299429851916635% 45.431583272298205%,8.94815238271459% 39.00019058314288%,17.66421636210496% 36.60607986722188%,6.698729810778062% 25.000000000000014%,22.23263308980676% 28.693349984694787%,19.947961799571715% 19.947961799571747%,28.69334998469477% 22.232633089806775%,24.99999999999998% 6.698729810778083%,36.60607986722184% 17.664216362104973%,39.00019058314284% 8.948152382714603%,45.43158327229816% 15.299429851916642%,49.99999999999999% 0%,54.568416727701795% 15.299429851916635%,60.99980941685711% 8.94815238271459%,63.39392013277812% 17.66421636210496%,74.99999999999997% 6.6987298107780475%,71.3066500153052% 22.23263308980675%,80.05203820042826% 19.947961799571722%,77.76736691019323% 28.69334998469477%,93.30127018922192% 24.99999999999998%,82.33578363789502% 36.60607986722184%,91.0518476172854% 39.00019058314283%,84.70057014808336% 45.43158327229816%,100% 50%,84.70057014808336% 54.5684167277018%);
  }
}

// @keyframes clip {
//   0% {
//
// clip-path: polygon(9% 20%, 19% 32%, 98% 35%, 18% 53%, 79% 91%, 9% 72%, 0 100%, 0 64%, 2% 35%, 0 0);
//
//   }
//   40% {
//
// clip-path: polygon(37% 39%, 46% 4%, 98% 35%, 65% 59%, 79% 91%, 38% 93%, 14% 84%, 31% 62%, 19% 45%, 0 0);
//   }
//   50% {
//
//   clip-path: polygon(2% 3%, 50% 1%, 98% 35%, 35% 35%, 93% 91%, 21% 74%, 9% 99%, 6% 63%, 0 31%, 20% 54%);
//   }
//   80% {
//
// clip-path: polygon(60% 39%, 88% 0, 98% 35%, 78% 48%, 79% 91%, 51% 91%, 32% 75%, 58% 65%, 41% 45%, 0 0);
//   }
//
//
//    100% {
//
// clip-path: polygon(50% 0%, 92% 46%, 77% 53%, 94% 74%, 79% 91%, 69% 68%, 21% 91%, 47% 62%, 30% 25%, 62% 36%);
//   }
// }
@keyframes clip {
  0% {

clip-path: polygon(50% 0%, 64% 16%, 100% 0, 59% 42%, 100% 66%, 49% 57%, 0 100%, 34% 45%, 0 0, 40% 26%);

  }

  50% {

clip-path: polygon(47% 15%, 57% 40%, 68% 30%, 100% 48%, 73% 80%, 50% 84%, 0 94%, 35% 59%, 0 39%, 32% 34%);
  }
   100% {

clip-path: polygon(56% 84%, 72% 61%, 100% 71%, 65% 77%, 100% 92%, 57% 100%, 0 100%, 44% 76%, 0 66%, 41% 62%);
  }
}
//
//
//
@keyframes clip {
  0% {
      opacity: 1;
clip-path: polygon(15% 36%, 27% 5%, 99% 30%, 26% 46%, 100% 100%, 24% 73%, 0 100%, 0 61%, 17% 67%, 0 8%);

  }

  40% {
    opacity: 0.9;

  }

  60% {

clip-path: polygon(8% 0, 61% 35%, 100% 5%, 70% 48%, 100% 100%, 54% 53%, 0 100%, 32% 57%, 2% 35%, 46% 43%);
  }



   100% {
       opacity: 0;
clip-path: polygon(60% 37%, 78% 36%, 99% 30%, 80% 63%, 100% 100%, 61% 64%, 0 100%, 32% 57%, 44% 45%, 0 8%);
  }
}
//
//
//
//
// @keyframes clip {
//   0% {
//       opacity: 0;
// clip-path: ellipse(23% 40% at 0% 0%);
//
//   }
//
//   50% {
//     opacity: 0.9;
// // clip-path: ellipse(23% 40% at 49% 51%);
//   }
//
//
//
//    100% {
//        opacity: 0;
// clip-path: ellipse(23% 40% at 100% 100%);
//   }
// }
//
//
@keyframes clip {
  0% {
      opacity: 0.3;
clip-path: polygon(19% 0, 12% 0, 3% 45%, 0 100%, 9% 100%, 12% 73%, 16% 35%);

  }

  50% {
    opacity: 0.8;
// clip-path: ellipse(23% 40% at 49% 51%);
  }

  80% {
    opacity: 0.3;
// clip-path: ellipse(23% 40% at 49% 51%);
  }

   100% {
       opacity: 0;
clip-path: polygon(100% 0, 95% 1%, 91% 50%, 88% 100%, 94% 100%, 97% 71%, 98% 45%);
  }
}



@keyframes clip {
  0% {
      opacity: 0.2;
clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);

  }
  30% {
    opacity: 1;
// clip-path: ellipse(23% 40% at 49% 51%);
  }

  50% {
    opacity: 1;
// clip-path: ellipse(23% 40% at 49% 51%);
  }



   90% {
       opacity: 0;
clip-path: polygon(50% 0%, 79% 0, 98% 35%, 83% 50%, 56% 100%, 34% 100%, 33% 19%, 0 68%, 2% 35%, 0 0);
  }
  100% {
      opacity: 0;
clip-path: polygon(50% 0%, 79% 0, 98% 35%, 83% 50%, 56% 100%, 34% 100%, 33% 19%, 0 68%, 2% 35%, 0 0);
 }
}

@keyframes clip {
  0% {
      opacity: 0;
clip-path: polygon(0 98%, 18% 98%, 30% 98%, 42% 98%, 55% 98%, 68% 98%, 78% 98%, 88% 97%, 97% 99%, 100% 100%, 31% 100%, 0 100%, 0 96%, 0 97%);
}

20% {
    // opacity: 0;
clip-path: polygon(0% 75%, 16% 80%, 31% 87%, 44% 78%, 62% 83%, 74% 71%, 86% 84%, 91% 72%, 100% 81%, 100% 100%, 31% 100%, 0 100%, 0 96%, 0 89%);
}


40% {
    opacity: 1;
clip-path: polygon(0 50%, 18% 51%, 28% 29%, 39% 43%, 50% 33%, 68% 40%, 80% 28%, 90% 46%, 100% 30%, 100% 100%, 31% 100%, 0 100%, 0 96%, 0 89%);
}

  60% {
    clip-path: polygon(0 50%, 13% 9%, 26% 53%, 35% 12%, 49% 36%, 60% 18%, 73% 31%, 81% 15%, 100% 27%, 100% 100%, 31% 100%, 0 100%, 0 96%, 0 89%);
      // opacity: 0.8;

 }
 90% {
clip-path: polygon(0 0, 13% 9%, 26% 15%, 35% 0, 49% 6%, 66% 3%, 74% 4%, 88% 5%, 100% 4%, 100% 100%, 31% 100%, 0 100%, 0 96%, 0 89%);
     // opacity: 0;

}
100% {
clip-path: polygon(0 0, 12% 0, 25% 0, 35% 0, 49% 0, 66% 0, 78% 0, 88% 0, 100% 0, 100% 100%, 31% 100%, 0 100%, 0 96%, 0 89%);
    opacity: 1;

}


}








@keyframes clip {
  0% {
      opacity: 0;
clip-path: polygon(0 98%, 18% 98%, 30% 98%, 42% 98%, 55% 98%, 68% 98%, 78% 98%, 88% 97%, 97% 99%, 100% 100%, 31% 100%, 0 100%, 0 96%, 0 97%);
}

20% {
    // opacity: 0;
clip-path: polygon(0% 75%, 16% 80%, 31% 87%, 44% 78%, 62% 83%, 74% 71%, 86% 84%, 91% 72%, 100% 81%, 100% 100%, 31% 100%, 0 100%, 0 96%, 0 89%);
}


40% {
    opacity: 1;
clip-path: polygon(0 50%, 18% 51%, 28% 29%, 39% 43%, 50% 33%, 68% 40%, 80% 28%, 90% 46%, 100% 30%, 100% 100%, 31% 100%, 0 100%, 0 96%, 0 89%);
}

  60% {
    clip-path: polygon(0 50%, 13% 9%, 26% 53%, 35% 12%, 49% 36%, 60% 18%, 73% 31%, 81% 15%, 100% 27%, 100% 100%, 31% 100%, 0 100%, 0 96%, 0 89%);
      // opacity: 0.8;

 }
 90% {
clip-path: polygon(0 0, 13% 9%, 26% 15%, 35% 0, 49% 6%, 66% 3%, 74% 4%, 88% 5%, 100% 4%, 100% 100%, 31% 100%, 0 100%, 0 96%, 0 89%);
     // opacity: 0;

}
100% {
clip-path: polygon(0 0, 12% 0, 25% 0, 35% 0, 49% 0, 66% 0, 78% 0, 88% 0, 100% 0, 100% 100%, 31% 100%, 0 100%, 0 96%, 0 89%);
    opacity: 1;

}


}




// @keyframes clip {
//   0% {
//       opacity: 0.2;
// clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
// clip-path: polygon(14% 0, 48% 45%, 30% 67%, 0 82%, 41% 88%, 51% 71%, 97% 90%, 65% 56%, 100% 20%, 65% 37%, 77% 0, 55% 28%);
// clip-path: polygon(30% 31%, 0 41%, 16% 66%, 11% 100%, 40% 78%, 59% 96%, 62% 66%, 100% 92%, 81% 47%, 94% 0, 57% 23%, 45% 0);
//
//   }
//   30% {
//     opacity: 1;
// // clip-path: ellipse(23% 40% at 49% 51%);
//   }
//
//   50% {
//     opacity: 1;
// // clip-path: ellipse(23% 40% at 49% 51%);
//   }
//
//
//
//    90% {
//        opacity: 0;
//
//   }
//   100% {
//       opacity: 0;
// clip-path: polygon(50% 0%, 79% 0, 98% 35%, 83% 50%, 56% 90%, 34% 100%, 33% 19%, 0 68%, 2% 35%, 0 0);
//     clip-path: polygon(42% 51%, 2% 8%, 31% 66%, 11% 100%, 47% 76%, 59% 96%, 62% 66%, 100% 92%, 68% 41%, 74% 0, 52% 48%, 45% 0);
//  }
// }
