footer {
margin-top: 120px;
    @include breakpoint(1200px down) {
    margin-top: 60px;

    }
    @include breakpoint(small down) {
    margin-top: 30px;

    }
}

.footer-link {
  display: inline-block;
font-family: "Sporting Grotesque_Regular", sans-serif;
font-size: 3rem;

@include breakpoint(800px down) {
font-size: 2rem;
 }
 @include breakpoint(small down) {
font-size: 1.2rem;
 }

color: black;
a {
color: black;

}
transition: transform 0.5s;
}

.footer-link:hover {
transform: translateX(10px);
}

.footer-email-link {
font-family: "Sporting Grotesque_Bold", sans-serif;
margin-top: 3rem;
font-size: 2rem;
@include breakpoint(800px down) {
  margin-top: 2rem;
font-size: 1.4rem;
 }
 @include breakpoint(small down) {
   margin-top: 1rem;
font-size: 0.8rem;
 }
text-decoration: underline;
  transform: translateX(0px) !important;
}

.footer-email-link a:hover {
color: #00a67a !important;
  transform: translateX(0px);
}
